In [32]:
import pandas as pd
from fancyimpute import KNN
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# 갑자기 든 생각은 날짜가 전부 다르다면, 비슷한 날씨와 오존량, 가시성, 시간대의 특성을
# 내가 임의로 나누어서, 거기서 가장 비슷한 근처5개 값으로 채우고 모델을 학습시킨다면 더욱 점수가 잘 나오지 않을까? 생각함

In [33]:
train = pd.read_csv('./data/train.csv') 
test = pd.read_csv('data/test.csv')

In [34]:
train

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0
...,...,...,...,...,...,...,...,...,...,...,...
1454,2174,4,16.8,0.0,1.6,53.0,2000.0,0.031,37.0,27.0,21.0
1455,2175,3,10.8,0.0,3.8,45.0,2000.0,0.039,34.0,19.0,20.0
1456,2176,5,18.3,0.0,1.9,54.0,2000.0,0.009,30.0,21.0,22.0
1457,2178,21,20.7,0.0,3.7,37.0,1395.0,0.082,71.0,36.0,216.0
1458,2179,17,21.1,0.0,3.1,47.0,1973.0,0.046,38.0,17.0,170.0

In [35]:
train.describe()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
count,1459.000000,1459.000000,1457.000000,1457.000000,1450.000000,1457.000000,1457.000000,1383.000000,1369.000000,1342.000000,1459.000000
mean,1105.914325,11.493489,16.717433,0.031572,2.479034,52.231297,1405.216884,0.039149,57.168736,30.327124,108.563400
std,631.338681,6.922790,5.239150,0.174917,1.378265,20.370387,583.131708,0.019509,31.771019,14.713252,82.631733
min,3.000000,0.000000,3.100000,0.000000,0.000000,7.000000,78.000000,0.003000,9.000000,8.000000,1.000000
25%,555.500000,5.500000,12.800000,0.000000,1.400000,36.000000,879.000000,0.025500,36.000000,20.000000,37.000000
50%,1115.000000,11.000000,16.600000,0.000000,2.300000,51.000000,1577.000000,0.039000,51.000000,26.000000,96.000000
75%,1651.000000,17.500000,20.100000,0.000000,3.400000,69.000000,1994.000000,0.052000,69.000000,37.000000,150.000000
max,2179.000000,23.000000,30.000000,1.000000,8.000000,99.000000,2000.000000,0.125000,269.000000,90.000000,431.000000

In [36]:
test

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0
...,...,...,...,...,...,...,...,...,...,...
710,2148,1,24.6,0.0,2.4,60.0,1745.0,NaN,NaN,NaN
711,2149,1,18.1,0.0,1.0,55.0,2000.0,NaN,NaN,NaN
712,2165,9,23.3,0.0,2.3,66.0,1789.0,0.020,17.0,15.0
713,2166,16,27.0,0.0,1.6,46.0,1956.0,0.032,40.0,26.0
714,2177,8,22.3,0.0,1.0,63.0,1277.0,0.007,30.0,24.0

In [37]:
test.describe()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
count,715.000000,715.000000,714.000000,714.000000,714.000000,714.000000,714.000000,680.000000,678.000000,679.000000
mean,1056.854545,11.472727,23.263305,0.051821,2.388515,56.668067,1359.494398,0.041196,36.930678,24.939617
std,625.574471,6.928427,4.039645,0.221820,1.171270,19.661880,614.171870,0.020656,12.641503,10.075857
min,0.000000,0.000000,14.600000,0.000000,0.000000,16.000000,126.000000,0.003000,9.000000,7.000000
25%,507.000000,5.500000,20.300000,0.000000,1.500000,42.000000,807.250000,0.027000,28.000000,17.000000
50%,1046.000000,11.000000,22.900000,0.000000,2.300000,55.000000,1489.000000,0.039000,35.000000,24.000000
75%,1616.500000,17.000000,26.375000,0.000000,3.275000,73.750000,2000.000000,0.052250,45.000000,31.000000
max,2177.000000,23.000000,33.800000,1.000000,5.900000,100.000000,2000.000000,0.138000,94.000000,69.000000

In [38]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [39]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

In [40]:
# 결측치 확인
print(train.isnull().sum())

id                          0
hour                        0
hour_bef_temperature        2
hour_bef_precipitation      2
hour_bef_windspeed          9
hour_bef_humidity           2
hour_bef_visibility         2
hour_bef_ozone             76
hour_bef_pm10              90
hour_bef_pm2.5            117
count                       0
dtype: int64

In [41]:
# 결측치 확인
print(test.isnull().sum())

id                         0
hour                       0
hour_bef_temperature       1
hour_bef_precipitation     1
hour_bef_windspeed         1
hour_bef_humidity          1
hour_bef_visibility        1
hour_bef_ozone            35
hour_bef_pm10             37
hour_bef_pm2.5            36
dtype: int64

In [42]:
# KNN imputation을 사용하여 결측치 채우기
# k=5로 설정하여 가장 유사한 5개의 데이터를 기반으로 결측치를 예측.
train_df_imputed = pd.DataFrame(KNN(k=5).fit_transform(train))

Imputing row 1/1459 with 0 missing, elapsed time: 0.209
Imputing row 101/1459 with 2 missing, elapsed time: 0.210
Imputing row 201/1459 with 0 missing, elapsed time: 0.210
Imputing row 301/1459 with 0 missing, elapsed time: 0.211
Imputing row 401/1459 with 0 missing, elapsed time: 0.211
Imputing row 501/1459 with 0 missing, elapsed time: 0.211
Imputing row 601/1459 with 0 missing, elapsed time: 0.212
Imputing row 701/1459 with 0 missing, elapsed time: 0.213
Imputing row 801/1459 with 0 missing, elapsed time: 0.213
Imputing row 901/1459 with 0 missing, elapsed time: 0.214
Imputing row 1001/1459 with 0 missing, elapsed time: 0.215
Imputing row 1101/1459 with 3 missing, elapsed time: 0.215
Imputing row 1201/1459 with 0 missing, elapsed time: 0.215
Imputing row 1301/1459 with 0 missing, elapsed time: 0.216
Imputing row 1401/1459 with 0 missing, elapsed time: 0.216

In [43]:
# KNN imputation을 사용하여 결측치 채우기
# k=5로 설정하여 가장 유사한 5개의 데이터를 기반으로 결측치를 예측.
test_df_imputed = pd.DataFrame(KNN(k=5).fit_transform(test))

Imputing row 1/715 with 0 missing, elapsed time: 0.058
Imputing row 101/715 with 0 missing, elapsed time: 0.059
Imputing row 201/715 with 0 missing, elapsed time: 0.059
Imputing row 301/715 with 0 missing, elapsed time: 0.059
Imputing row 401/715 with 0 missing, elapsed time: 0.059
Imputing row 501/715 with 0 missing, elapsed time: 0.060
Imputing row 601/715 with 0 missing, elapsed time: 0.060
Imputing row 701/715 with 0 missing, elapsed time: 0.060

In [53]:
train_df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1459 non-null   float64
 1   1       1459 non-null   float64
 2   2       1459 non-null   float64
 3   3       1459 non-null   float64
 4   4       1459 non-null   float64
 5   5       1459 non-null   float64
 6   6       1459 non-null   float64
 7   7       1459 non-null   float64
 8   8       1459 non-null   float64
 9   9       1459 non-null   float64
 10  10      1459 non-null   float64
dtypes: float64(11)
memory usage: 125.5 KB

In [54]:
test_df_imputed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       715 non-null    float64
 1   1       715 non-null    float64
 2   2       715 non-null    float64
 3   3       715 non-null    float64
 4   4       715 non-null    float64
 5   5       715 non-null    float64
 6   6       715 non-null    float64
 7   7       715 non-null    float64
 8   8       715 non-null    float64
 9   9       715 non-null    float64
dtypes: float64(10)
memory usage: 56.0 KB

In [45]:
# 대여량을 target으로 설정하고, 다른 변수들을 feature로 사용.
y = train_df_imputed.iloc[:, -1]
X = train_df_imputed.iloc[:, :-1]

In [46]:
# train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

In [47]:
# 랜덤포레스트 모델 학습
rf = RandomForestRegressor()
rf.fit(X_train, y_train)

RandomForestRegressor()

In [48]:
# test set 예측
y_pred = rf.predict(test_df_imputed)
y_pred

array([ 99.85, 215.5 ,  84.78,  30.71,  55.39, 119.15, 241.46, 272.3 ,
        35.97, 110.11, 306.41, 265.27, 120.41,  35.37, 215.29, 164.94,
        25.67, 176.11, 312.65, 169.63, 221.71,  68.35,  15.45, 144.91,
       142.31, 119.57,  29.72, 123.37, 116.35, 160.2 ,  72.14,  29.52,
        59.92, 138.52, 279.87,  32.64, 136.93, 111.76, 208.43,  76.82,
        50.12, 126.75, 169.67,  95.48, 308.79, 178.62,  77.47,  54.23,
        20.51,  86.93, 243.37,  88.72, 144.45,  60.57, 187.4 , 148.16,
        41.23, 178.34,  14.37,  18.06,  91.97,  90.13, 253.21, 290.18,
       142.26, 300.18,  16.12, 228.38, 160.52,  26.48, 104.32,  33.55,
       149.38,  15.18, 312.86, 230.  ,  31.91, 190.21, 255.94,  17.83,
       247.66, 142.5 ,  90.78,  84.95,  95.54, 324.72,  50.24, 160.87,
        94.09, 259.36, 261.78, 176.79,  58.62, 102.35,  36.34,  84.38,
        98.87,  27.43, 236.54, 146.  ,  18.04, 157.44,  41.29, 117.91,
        70.45,  51.1 , 102.16,  18.09, 178.02, 121.73, 181.43, 249.58,
       167.73, 122.41,  61.76, 132.95, 230.43,  38.02, 216.28,  18.39,
       106.2 , 116.17, 185.52, 121.5 ,  42.62, 112.8 ,  50.24,  15.57,
       191.84,  51.56, 133.55, 158.01,  21.35, 148.68, 276.9 , 140.09,
        40.77, 156.93, 243.61, 320.38, 183.42,  26.36,  31.46,  84.29,
        90.23, 114.82, 112.78, 119.92, 148.87, 209.71, 137.31, 297.83,
       282.11, 210.1 , 179.14,  11.91, 114.87,  13.85,  90.44, 156.05,
       159.99,  16.3 , 223.88, 194.36, 132.28,  16.29, 217.08, 164.77,
       270.22,  18.36, 121.32, 147.72,  87.36, 135.14,  98.26,  95.86,
       215.86, 181.23, 174.21, 118.13, 205.43, 180.61, 159.42, 261.51,
       143.44,  87.68,  91.07, 282.15, 192.  ,  41.01,  34.72, 155.54,
       122.11, 120.13, 149.45, 279.75, 297.41, 161.72, 130.75, 109.66,
        19.37, 239.72,  16.16, 308.75, 142.2 ,  32.6 , 131.91, 233.45,
       232.31,  60.96, 287.63, 165.79, 141.11, 235.42, 250.6 , 132.6 ,
       233.71, 117.01, 143.33,  89.27,  92.66,  24.26, 106.56,  60.52,
       138.72,  37.52, 200.75, 189.28,  31.44, 191.47, 265.89, 135.6 ,
        20.56,  97.54, 194.56, 101.99, 331.65, 300.94, 161.81, 186.55,
        18.8 , 208.79,  25.67, 130.41, 137.28, 100.99, 172.71, 223.37,
        92.52,  16.83,  93.37, 264.6 , 236.15, 183.21, 134.47, 193.31,
        24.32, 329.06,  82.96,  18.89, 175.81,  26.48, 210.17,  25.9 ,
       164.72, 245.82,  19.16, 239.95,  88.01, 224.01, 148.86, 110.07,
        47.87, 298.58,  19.27, 269.06,  83.23, 152.84, 191.21,  30.5 ,
       271.93, 103.14,  17.42, 183.37, 185.83, 118.9 , 262.56, 160.19,
        71.66, 112.35, 121.08, 269.73, 165.48, 128.58, 139.49,  30.73,
       156.61,  38.29, 211.33,  24.23, 109.29, 217.7 , 216.8 , 216.75,
       304.88, 218.51, 128.3 ,  51.36, 148.37,  88.35, 272.38, 253.35,
       250.44,  33.89, 272.84, 211.83, 174.36,  36.18,  26.66,  19.23,
       205.27,  33.15, 135.87, 155.78,  97.82, 312.65, 250.22, 101.54,
        97.45,  97.2 ,  26.43,  96.47,  63.77, 195.16, 136.3 ,  35.22,
       258.93, 204.05, 159.88, 289.45,  19.82,  21.91, 299.1 , 209.67,
       128.17,  17.67,  25.89, 101.61, 130.3 , 276.93, 207.05, 256.71,
        67.9 ,  46.95, 193.13,  58.54,  19.51,  19.28,  96.39, 112.97,
        56.46, 229.4 , 232.49, 170.98, 143.84,  27.4 ,  59.22, 101.22,
        15.52, 205.68, 105.6 ,  73.73, 235.32, 272.52, 201.88,  18.03,
        33.96, 192.72,  94.68,  35.76, 113.  , 120.1 , 296.6 , 282.13,
       129.46,  82.41, 165.26, 181.72, 116.78, 245.91,  37.8 , 160.66,
       254.89,  52.53, 115.21, 112.59, 267.95,  27.86,  29.21, 184.56,
        17.64,  89.68,  17.03, 274.3 ,  83.76, 121.28, 161.36, 177.8 ,
       114.3 , 113.83, 183.07, 268.14, 140.49, 119.79,  43.77, 133.71,
       198.55, 120.67,  50.88,  48.27,  20.55,  28.68,  18.69,  36.69,
       166.63, 114.53, 100.13, 185.3 , 120.62, 321.76, 147.59, 187.04,
       235.6 , 111.56, 116.96, 199.34, 299.91,  32.28, 120.9 , 336.4 ,
       267.16, 152.29,  40.12,  94.47, 118.04,  81.76, 111.98,  29.64,
       301.6 , 273.09, 226.22, 122.51, 170.23, 208.52, 157.13, 145.47,
       274.66,  91.92,  52.95, 129.41, 179.37, 141.51, 119.56, 114.37,
        87.92, 161.8 , 252.55,  92.58, 190.23, 197.67, 242.8 ,  46.61,
       312.14, 107.4 , 169.33, 163.82,  14.6 ,  28.35, 219.65, 268.24,
        99.36,  86.73,  28.71,  16.36, 237.51, 150.72, 322.85, 222.76,
        86.68, 129.37, 234.86, 177.29,  53.85,  64.37,  40.74, 168.69,
       115.36, 226.61, 282.12, 229.94,  15.93, 217.07,  52.85, 105.83,
        33.29, 249.38, 251.43,  29.62, 141.89,  76.9 , 186.79, 195.81,
       213.89, 198.53, 299.69,  91.41,  30.87, 246.7 , 178.76, 161.92,
        30.12, 229.43,  19.08,  51.05,  19.84,  67.13,  32.07, 180.14,
       231.45, 152.36,  34.61,  88.84,  29.97, 286.43,  94.98,  33.21,
       101.51,  17.59,  44.39,  32.91, 285.78,  16.64, 190.58, 249.2 ,
       281.46, 222.26, 102.34, 130.27, 101.85, 104.24, 225.72,  33.69,
        19.7 , 155.35,  18.63, 157.1 , 148.22,  35.59, 188.85, 207.04,
       221.52, 327.67,  28.58,  98.5 ,  42.67,  36.75,  98.27,  98.53,
        29.99, 191.11,  89.73, 205.48, 133.76, 302.35, 192.56, 264.02,
       133.47, 274.  ,  62.81,  30.68,  26.21,  35.88,  85.92,  15.76,
        15.  , 110.01,  18.57, 240.78, 233.  , 148.93,  87.38,  92.27,
        32.34, 133.74,  92.42, 129.1 , 206.31,  17.27, 230.65, 122.78,
        14.78, 269.68, 102.33,  35.96,  90.31, 276.89,  99.08, 313.54,
       279.91, 212.29, 229.29, 182.39,  21.44, 117.01, 157.28,  20.64,
        45.12,  85.3 , 233.99, 163.22,  52.81, 173.34,  94.54, 241.81,
       118.91, 297.37,  55.23,  31.37,  19.35, 237.6 , 241.35,  88.9 ,
       115.78,  30.75,  96.65, 144.08, 177.17, 117.48,  90.87,  36.08,
       117.34, 102.42,  57.67, 109.35, 289.29, 130.66, 248.33, 134.38,
       267.44, 187.93,  72.69, 116.89,  93.93, 276.95, 276.47, 235.11,
       111.5 , 122.04, 154.24,  18.75, 146.88, 220.79,  25.85,  83.26,
       119.54, 116.7 , 151.56, 130.94, 296.27,  85.13, 106.69, 133.65,
       295.13, 113.54, 137.86, 150.2 ,  30.37, 134.79,  19.78,  29.87,
        18.62, 229.3 ,  97.12, 159.64, 251.36, 151.5 , 132.64,  27.2 ,
       150.94,  17.41, 150.26,  30.32,  33.87,  96.72,  51.65, 211.54,
        19.84,  96.49, 211.51,  29.62, 280.36, 253.99,  16.54, 338.17,
       119.56, 248.06,  38.42,  84.14,  31.54, 276.46,  47.89,  58.73,
       115.52, 187.16, 153.77])

In [49]:
submission = pd.read_csv('./data/submission.csv')
submission

       id  count
0       0    NaN
1       1    NaN
2       2    NaN
3       4    NaN
4       5    NaN
..    ...    ...
710  2148    NaN
711  2149    NaN
712  2165    NaN
713  2166    NaN
714  2177    NaN

[715 rows x 2 columns]

In [50]:
submission['count'] = y_pred

In [51]:
submission

       id   count
0       0   99.85
1       1  215.50
2       2   84.78
3       4   30.71
4       5   55.39
..    ...     ...
710  2148   47.89
711  2149   58.73
712  2165  115.52
713  2166  187.16
714  2177  153.77

[715 rows x 2 columns]

In [52]:
submission.to_csv('베이스라인.csv',index = False)